In [0]:
import collections
import pandas as pd
df=pd.read_csv('chk.csv')

In [0]:
df['B']=df['A'].apply(lambda x: x.split())
lis=[ y for x in df['B'] for y in x]
sorted_dic = collections.OrderedDict(sorted(Counter(lis).items(), key=lambda kv: (-kv[1], kv[0])))
sorted_dic

OrderedDict([('hi', 4),
             ('are', 2),
             ('you', 2),
             ('get', 1),
             ('god', 1),
             ('hatsoff', 1),
             ('how', 1),
             ('lost', 1),
             ('my', 1),
             ('oh', 1),
             ('why', 1)])

In [0]:
df["C"] = df['B'].apply(lambda x : [z for z in list(sorted_dic.keys()) if z in x][0:3])

In [0]:
df

                A                    B                C
0  hi how are you  [hi, how, are, you]   [hi, are, you]
1  hi why are you  [hi, why, are, you]   [hi, are, you]
2     hi get lost      [hi, get, lost]  [hi, get, lost]
3      hi hatsoff        [hi, hatsoff]    [hi, hatsoff]
4       oh my god        [oh, my, god]    [god, my, oh]