<a href="https://colab.research.google.com/github/devdon3/WorkFromColab/blob/master/IdentifyNumberSequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re

df= pd.DataFrame({'test':["1235fbu12435rdflk", "kdfn5678vufd", "34kings789","21012", "jdbvgyu6549"]})

In [0]:
df["new"] = df.test.apply(lambda x: [j for i in re.findall(r'\d+', x) for j in [i[a:b+1] for a in range(len(i)) for b in range(a,len(i))] if len(j)>2 and (j in "109876543210" or j in "12345678910")] )

In [19]:
df.new

0               [123]
1    [567, 5678, 678]
2               [789]
3               [210]
4               [654]
Name: new, dtype: object